body{
    padding: 2rem;
    background-color: black;
}

.img_cont{
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;
    width: 85vh;
    height: 70vh;
    position: relative;
    left: -10vw;
}

img{
    height: 100%;
}

input{
    width: 15rem;
    height: 1.2rem;
}

button{
    height: 1.2rem;
    box-sizing: border-box;
}

input:focus{
    outline: none;
}